.svn/
.hg/
.hgignore
bin/
obj/
Readme.md
debug/
*.user
*.suo
Database/Database.dbproj.schemaview
Database/Database.dbmdl
camp2010.sln
camp.sln
Database/
Packages/
Web/
Web.Tests/
Resources